@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
body {
    background: #221f1f;
    color: #ffffff;
    font-family: "Lato", sans-serif;
}

h2, .TitleList .Title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1em;
}

p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
}

.hero{
    margin-top: 160px;
}

.header {
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */
    display: flex;
    padding: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 5;
}

.navigation ul {
    display: flex;
    height: 37px;
    align-items: center;
    padding: 0 10px;
}
.navigation ul li {
    font-weight: 400;
    padding: 7px 10px;
    font-size: 14px;
    transition: background .125s ease;
    border-radius: 3px;
}
.navigation ul li:hover {
    background: #eee;
    cursor: pointer;
}

.search-bar {
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    pointer-events: none;
}
.search-bar input {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    height: 37px;
    width: 20%;
    background: transparent;
    color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border: 2px solid rgba(245, 245, 241, 0.1);
    outline: none;
    border-radius: 37px;
    padding: 0 10px;
    pointer-events: all;
    transition: border .25s ease, width .125s ease .125s;
}
.search-bar input:focus {
    border: 2px solid #eee;
    width: 30%;
}

.user_profile {
    margin-left: auto;
}
.user_profile .user {
    display: flex;
}
.user_profile .user .image {
    border-radius: 44px;
    margin-left: 10px;
    overflow: hidden;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    border: 3px solid transparent;
    transition: border .125s ease;
}
.user_profile .user .image img {
    width: 100%;
    display: block;
}
.user_profile .user .name {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 300;
    height: 44px;
}
.user_profile .user:hover {
    cursor: pointer;
}
.user_profile .user:hover .image {
    border: 3px solid #eee;
}
.user_profile .user_profile-menu {
    display: none;
}

.video-item img{
    max-width: 64px;
}

.video-detail .details {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    border: 1px soolid #ddd;
    border-radius: 4px;
}

.list-group-item{
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}
.logo{
    width: 120px;
    height: 30px;
    margin-right: 10px;
    transition: margin .125s ease;
}
/* appear - on page load */
.fade-appear{
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active{
    opacity: 1;
    transition: opacity 300ms linear;
}
